<div class="panel-header">
    <a href="#" title="" class="close">Close</a>
</div>


<div class="success-message hide">
	<h3>Thanks for joining us!</h3>
</div>


<form id="joinForm">
	<div class="input-holder">
		<div class="form-group">
		    <label for="username">Email</label>
		    <input type="email" name="email" placeholder="your email address here..." id="email" class="email-input" />
	</div>

	<div class="holder">
		<p class="error-message hide">Please enter a valid email adress.</p>
	</div>

	{{!-- <p class="api-response hide"></p> --}}
    
    <button type="submit" name="submit" id="joinBtn">Join</button>
</form>


