<form id="loginForm">
    <div class="input-holder">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="your username here ..." id="username" class="" />
        </div>
        
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="your password here ..." id="password" class="" />
        </div>
    </div>

    <p class="api-response hide"></p>
    
    <button type="submit" name="submit" id="loginBtn">Log In</button>
</form>