<div class="overlay"></div>

<div class="popup-inner add-item-popup">
	<div class="modal-header">
		<button type="button" class="close"></button>
		<h4>Add new item</h4>
	</div>

	<div class="modal-body">
		<form class="add-item">
            <div class="api-response hide">
                <button type="button" class="close-error">&times;</button>
                <span id="errorMessage"></span>
            </div>

            <div class="form-group">
                <label>Select Item Type</label>
                <input type="radio" id="fromComputer" name="group1" checked><label for="fromComputer" style="display:inline;text-transform:none;cursor:pointer;">Upload from computer</label>
                <input type="radio" id="externalLink" name="group1" style="margin-left:5px"><label for="externalLink" style="display:inline;text-transform:none;cursor:pointer;">External Link</label>
            </div>



            <div class="form-group">
                <label>Title</label>
                <input type="text" class="title" id="title" name="title" placeholder="Please enter the file title"></input>
            </div>

            <div class="form-group">
                <label>Description</label>
                <textarea class="item-description" id="description" name="description" placeholder="Item Description"></textarea>
            </div>

            <div class="form-group file-container">
                <span class="file-input btn btn-info btn-file pull-left">
                    <label>Select File</label>
                    <input type="file" id="file" name="file">
                </span>

                <label class="file-name"></label>
                <div class="clearfix"></div>

                <span class="file-select-error error"></span>
            </div>

            <div class="form-group link-container hide">
                <label>Link</label>
                <input type="text" class="link" id="link" name="link" placeholder="File Link"></input>
            </div>

            <input type="hidden" id="projectRoomId" name="projectRoomId" value="{{ projectRoomId }}">
            <input type="hidden" id="fileType" name="fileType" value="0">
            <div class="progress-container hide">
                <div class="progress"></div>
            </div>
        </form>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-cancel">Cancel</button>
		<button type="button" class="btn btn-add">Add</button>
	</div>
</div>
