<div class="overlay"></div>

<div class="popup-inner add-subfolder-popup">
	<div class="modal-header">
		<button type="button" class="close"></button>
		<h4>Add a new Subfolder</h4>
	</div>

	<form class="add-subfolder">
		<div class="modal-body">
			<div class="alert alert-danger error hide error-message-container error-msg">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<span id="errorMessage"></span>
			</div>

			<div class="form-group">
				<label>Subfolder name</label>
				<input id="subname" name="subname" class="subfolder-name" placeholder="Please enter subfolder name">
			</div>
		</div>

		<div class="modal-footer">
			<button type="button" class="btn btn-cancel">Cancel</button>
			<button type="button" class="btn btn-add">Add</button>
		</div>
	</form>
</div>
