<section id="options">
    <div class="main">
        <div class="left">
            <div class="button inline large current-folder">
                <span class="icon icon-folder"></span>

                <span class="addon">
                    <span class="title">{{ title}}</span>
                    <small class="nr-of-items"></small>
                </span>
            </div>
        </div>

        <div class="right">
            {{!-- <a href="#" class="button inline add-user-btn"><span class="icon icon-plus"></span> <span class="addon add-user-label">Add <br /> User</span></a> --}}
            <a href="#" class="button inline add-item"><span class="icon icon-plus"></span> <span class="addon">Add <br /> Item</span></a>
            <a href="#" class="button inline add-subfolder"><span class="icon icon-folder-add"></span> <span class="addon">Add <br /> Subfolder</span></a>
            {{!-- <a href="#" class="button inline"><span class="icon icon-upload"></span> <span class="addon">Share <br /> Folder</span></a> --}}
        </div>
    </div>

    <div class="complementary hide">
        <form>
            <button type="submit" name="submit" class="search"><span class="icon icon-search-gray"></span></button>

            <input type="text" name="search" placeholder="Search" id="" class="" />
        </form>

        <div class="filter-block">Sort by: <a href="#">Date</a></div>
        <div class="filter-block">Filter by: <a href="#">All types</a></div>
    </div>
</section>

<section id="items">
    <div class="row items-list"></div>
</section>
