<div class="row">
    <section id="folders" class="folder-list">
        <div class="list-stacked tree-view"></div>

        <button class="button gray add-folder-button"><span class="icon icon-plus-white"></span> Add a Folder</button>

        <div class="panel-block add-folder-panel hide">
            <button type="button" class="close btn-close-panel"></button>
            <div class="clearfix"></div>

            <form class="add-folder">
                <div class="form-group">
                    <input type="text" name="folder-name" placeholder="Please enter folder name" class="project-name-ti" />
                </div>

                <button class="button gray button-add">Add</button>
            </form>
        </div>
    </section>

    <div class="project-room-block folder-area"></div>
</div>
