<a class="node-collapse">
    {{!-- <i class="icon-plus icon-plus-collapse"/> --}}
    <span class="node-label"></span>

    <span class="lock icon icon-lock"></span>
    {{!-- icon-lock, icon-unlock --}}

    {{!-- <i class="icon-user man-icon" />
    <i class="icon-edit edit-folder" />
    <i class="delete" /> --}}
</a>

<ul class="nav nav-list node-tree"></ul>
